<header class="header">
  <h1>todos</h1>
  <app-add-todo (onAddTodo)="addTodo($event)"></app-add-todo>
</header>
<section class="main">
  <ul class="todo-list">
    <app-todo *ngFor="let todo of todos" [todo]="todo"
              (onRemoveTodo)="removeTodo($event)"
              (onToggleTodo)="toggleTodo($event)"
              (onSaveTodo)="saveTodo($event)">
    </app-todo>
  </ul>
</section>
<footer class="footer">
  <span class="todo-count">
    <strong>{{incompleteCount}}</strong> item left
  </span>
  <ul class="filters">
    <li><app-filter-link filter="">All</app-filter-link></li>
    <li><app-filter-link filter="completed">Completed</app-filter-link></li>
  </ul>
</footer>
