<li [class.editing]="editMode">
  <div class="view">
    <input type="checkbox"
           (change)="toggleTodo(todo)"
           [(ngModel)]="todo.completed"
           class="toggle">
    <label (dblclick)="editTodo()">{{todo.name}}</label>
    <button class="destroy" (click)="doRemoveTodo(todo)"></button>
  </div>
  <input type="text"
         *ngIf="editMode"
         [(ngModel)]="todo.name"
         (keyup)="cancelEdit($event.keyCode)"
         (keyup.enter)="saveTodo(todo)"
         (focusout)="saveTodo(todo)"
         todo-focus
         class="edit">
</li>
